@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300,500,700,..800;1,300..800&display=swap');

:root{
    --erie-black: #1C2321;
    --jungle-green: #49A078;
    --jungle-greenHover: #1b6b45;
    --anti-flash-white:#EEEEEE;
    --tropical-indigo: #8D85C1;
    --periwinkle: #D4CDF4;

}

*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', Helvetica, Arial,  sans-serif;
    font-weight: 300;
    
}

body{
    width: 100%;
    height: 100VH;
    overflow: hidden;
    display: flex;

}
 
.layout-menu{
    width:350px ;
    padding-top: 50px;
    padding-left: 15px;
    height: 100hv;  
    background-color: var(--tropical-indigo) ;
}

.layout-wrapper{
    width: 100%;
    height: auto;
    overflow-y: auto; 
    padding: 50px;
    background-color: var(--periwinkle) ;
    
}

.menu-titulo{
    font-size: 24px;
    color:var(--anti-flash-white) ;
    font-weight: bold;
    border-bottom: 2px solid var(--anti-flash-white) ;
    padding-bottom: 10px;
    width: 250px;
  


}

.layout-titulo{
    font-size: 34px;
    font-weight: bold;
    color: var(--erie-black);
    border-bottom: 1px solid var(--erie-black);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.page-wrapper{
    background-color: var(--anti-flash-white);
    padding: 20px;
    border-radius: 10px; 

}

.item-menu{
 font-size: 20px;
 padding: 5px;
}